@{
   var size = Size.Value != null ? $"btn-group-{Size.Value}" : "";
}

<div class="btn-group @size @Classes" role="group">
   @ChildContent
</div>

   @code {
      [Parameter]
      public RenderFragment ChildContent { get; set; }

      [Parameter]
      public string Classes { get; set; }

      [Parameter]
      public ButtonSize Size { get; set; } = ButtonSize.Regular;

   }
