@{ 
   var outline = Outline ? "outline-" : "";
   var type = $"btn-{outline}{Type.Value}";
   var textWrap = WrapText ? "" : "text-nowrap";
   var size = Size.Value != null ? $"btn-{Size.Value}" : "";
   var block = Block ? "btn-block" : "";
}

<button type="button" class="btn @type @size @block @textWrap" disabled="@Disabled">
   @if (Text != null)
   {
      @Text
   }
   else
   {
      @ChildContent
   }
</button>

@code {

   [Parameter]
   public string Text { get;set;}

   [Parameter]
   public RenderFragment ChildContent { get; set; }

   [Parameter]
   public ButtonType Type { get;set;} = ButtonType.Primary;

   [Parameter]
   public ButtonSize Size { get;set;} = ButtonSize.Regular;

   [Parameter]
   public bool WrapText {get;set;} = false;

   [Parameter]
   public bool Outline { get;set;} = false;

   [Parameter]
   public bool Block { get;set;} = false;

   [Parameter]
   public bool Disabled { get;set;} = false;
}
